:root {
  --recia-body-color: #1E1E1E;
  --recia-body-bg: #FFF;
  --recia-white: #FFF;
  --recia-black: #000;
  --recia-favorite: #FFAA46;
  --recia-stroke: #E9E9E9;
  --recia-tutorial: #171717;
  --recia-basic-grey: #F4F4F4;
  --recia-basic-black: #1E1E1E;
  --recia-basic-black-lighter: #737373;
  --recia-lighter-black: #2C2C2C;
  --recia-system-blue: #005099;
  --recia-system-red: #AD1919;
  --recia-black-10: rgba(from var(--recia-black) r g b / 0.1);
  --recia-black-20: rgba(from var(--recia-black) r g b / 0.2);
  --recia-black-30: rgba(from var(--recia-black) r g b / 0.3);
  --recia-black-40: rgba(from var(--recia-black) r g b / 0.4);
  --recia-black-50: rgba(from var(--recia-black) r g b / 0.5);
  --recia-system-blue-10: rgba(from var(--recia-system-blue) r g b / 0.1);
  --recia-system-blue-20: rgba(from var(--recia-system-blue) r g b / 0.2);
  --recia-system-blue-30: rgba(from var(--recia-system-blue) r g b / 0.3);
  --recia-system-blue-40: rgba(from var(--recia-system-blue) r g b / 0.4);
  --recia-system-blue-50: rgba(from var(--recia-system-blue) r g b / 0.5);
  --recia-system-red-10: rgba(from var(--recia-system-red) r g b / 0.1);
  --recia-system-red-20: rgba(from var(--recia-system-red) r g b / 0.2);
  --recia-system-red-30: rgba(from var(--recia-system-red) r g b / 0.3);
  --recia-system-red-40: rgba(from var(--recia-system-red) r g b / 0.4);
  --recia-system-red-50: rgba(from var(--recia-system-red) r g b / 0.5);
  --recia-primary-10: rgba(from var(--recia-primary) r g b / 0.1);
  --recia-primary-20: rgba(from var(--recia-primary) r g b / 0.2);
  --recia-primary-30: rgba(from var(--recia-primary) r g b / 0.3);
  --recia-primary-40: rgba(from var(--recia-primary) r g b / 0.4);
  --recia-primary-50: rgba(from var(--recia-primary) r g b / 0.5);
  --recia-primary: #0062BC;
  --recia-primary-pressed: #004584;
  --recia-secondary: #F4F4F4;
  --recia-secondary-hover: #E6EFF8;
  --recia-secondary-pressed: #CCE0F2;
  --recia-documentation: #AB47BC;
  --recia-documentation-hover: #C400F3;
  --recia-documentation-hover-shadow: rgba(from var(--recia-documentation-hover) r g b / 0.1);
  --recia-collaboratif: #5747BC;
  --recia-collaboratif-hover: #665BE7;
  --recia-collaboratif-hover-shadow: rgba(from var(--recia-collaboratif-hover) r g b / 0.15);
  --recia-apprentissage: #FFAC2F;
  --recia-apprentissage-hover: #F5C72E;
  --recia-apprentissage-hover-shadow: rgba(from var(--recia-apprentissage-hover) r g b / 0.15);
  --recia-vie-scolaire: #858585;
  --recia-vie-scolaire-hover: #5B5B5B;
  --recia-vie-scolaire-hover-shadow: rgba(from var(--recia-vie-scolaire-hover) r g b / 0.15);
  --recia-orientation: #26C6DA;
  --recia-orientation-hover: #70EAF5;
  --recia-orientation-hover-shadow: rgba(from var(--recia-orientation-hover) r g b / 0.15);
  --recia-parametres: #66BB6A;
  --recia-parametres-hover: #4EF186;
  --recia-parametres-hover-shadow: rgba(from var(--recia-parametres-hover) r g b / 0.15);
  --recia-communication: #EC407A;
  --recia-communication-hover: #F60086;
  --recia-communication-hover-shadow: rgba(from var(--recia-communication-hover) r g b / 0.2);
  --recia-btn-primary-color: #FFF;
  --recia-btn-secondary-color: #1E1E1E;
  --recia-btn-primary-bg: #1E1E1E;
  --recia-btn-secondary-bg: #F4F4F4;
  --recia-shadow-neutral: 0 4px 15.9px 0;
  --recia-shadow-strong: 0 4px 24.4px 0;
  --recia-shadow-hover: 0 4px 26px 0;
  --recia-shadow-low-elevation: 0 2px 6px 0;
  --recia-shadow-low-elevation-avatar-notif: 0 1px 24px 0;
  --recia-font-size-base: 1rem;
  --recia-body-font-size: calc(var(--recia-font-size-base) * 0.75);
  --recia-font-size-xxs: calc(var(--recia-font-size-base) * 0.625);
  --recia-font-size-xs: calc(var(--recia-font-size-base) * 0.75);
  --recia-font-size-sm: calc(var(--recia-font-size-base) * 0.875);
  --recia-font-size-md: calc(var(--recia-font-size-base) * 1);
  --recia-font-size-lg: calc(var(--recia-font-size-base) * 1.125);
  --recia-font-size-xl: calc(var(--recia-font-size-base) * 1.25);
  --recia-font-size-xxl: calc(var(--recia-font-size-base) * 1.5);
  --recia-font-size-h1: calc(var(--recia-font-size-base) * 1.25);
  --recia-font-size-h2: calc(var(--recia-font-size-base) * 1.125);
  --recia-font-size-h3: calc(var(--recia-font-size-base) * 1);
  --recia-font-size-h4: calc(var(--recia-font-size-base) * 0.875);
}

@media screen and (min-width: 992px) {
  :root {
      --recia-body-font-size: calc(var(--recia-font-size-base) * 0.875);
      --recia-font-size-h1: calc(var(--recia-font-size-base) * 1.5);
      --recia-font-size-h2: calc(var(--recia-font-size-base) * 1.25);
      --recia-font-size-h3: calc(var(--recia-font-size-base) * 1);
      --recia-font-size-h4: calc(var(--recia-font-size-base) * 0.875);
  }
}

/*
 * Override existing style
 */

.portal:not(.up-focused) {
  #wrapper {
    > .portal-content {

      /*
       * Override portlet style
       */
      .up-portlet-wrapper {
        box-shadow: unset !important;

        .up-portlet-wrapper-inner {
          overflow: hidden !important;
          border: none !important;
          border-radius: 10px !important;
          outline: 1px solid var(--recia-stroke) !important;
          margin: 32px 0 !important;
          box-shadow: var(--recia-shadow-neutral) var(--recia-black-10) !important;

          .up-portlet-titlebar,
          .up-portlet-content-wrapper {
            border: none !important;
          }
        }
      }

      /*
       * Override flash info style
       */
      [class*="FlashInfo"] {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: var(--recia-shadow-neutral) var(--recia-black-10) !important;

        .carousel-indicators {
          z-index: unset !important;

          > li {
            position: relative;
            z-index: 15;
          }
        }

        .carousel-control {
          background: none !important;
        }

        @media(min-width: 560px) and (max-width: 1500px) {
          .flashInfoPortlet .carousel-caption > p {
            height: 4.2em;
            line-clamp: 3;
            -webkit-line-clamp: 3;
          }
        }
      }
    }
  }
}
